[push]
	default = current
	autoSetupRemote = true
[core]
	excludesfile = ~/.gitignore_global
[diff]
	submodule = log
[status]
  submoduleSummary = true
[pull]
	rebase = true
[init]
	defaultBranch = main
[user]
	name = Enrico La Cava
	email = enrico.lacava@flex.ai
