[push]
	default = current
[core]
	excludesfile = /home/elacava/.gitignore_global
[diff]
	submodule = log
[user]
	name = Enrico <lerrigatto> La Cava
	email = me@lerrigatto.com
  signingkey = 9373D188631A7A1F
[commit]
	gpgsign = true
